:root {
  --primary-color: #2e1065;
}

html {
  font-size: 0.8rem;
}

.float-label-input {
  margin: 32px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label,
.float-label-input textarea:not(:placeholder-shown) + label,
label.has-value {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: white;
  opacity: 1;
}
